@page
@model SimWeb.Pages.InfoModel
@{
    ViewData["Title"] = "Informacje";
}

<h1>Aplikacja demonstracyjna SimWeb</h1>
<p>Wizualizacja symulacji z wykorzystaniem programowania obiektowego w C# i Razor Pages.</p>

<p>Mapa typu: <strong>BigBounceMap</strong></p>
<p>Sekwencja ruchów: <strong>dlrludlldrluuduldurr</strong></p>